.img-fluid {
  width: 100%;
  height: auto;
  display: block;
}

.menu {
    margin: 80px auto;
}

.menu h1 {
    text-align: center;
    margin: 80px 0 20px 0;
    font-size: 40px;
    line-height: 40px;
}

.menu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.menu-content > div {
    width: 33.332%;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .menu-content > div {
        width: 100%;
    }
    
}