.lemon-section {
    background-color: #fcbe1e;
    color: #fff;
    border: 3px solid #fff;;
    padding: 40px;
    margin: 100px auto;
    max-width: 900px;
    border-radius: 10px;
    text-align: center;
    background-image: url('../../public/lemons.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto cover;
}

.lemon-section input, .lemon-section select, .lemon-section textarea {
    width: 100%;
    max-width: 400px;
    background-color: #a36d08;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

.lemon-section label {
    display: block;
    margin: 10px 0 30px;
    text-align: left;
    font-size: 16px;;
    position: relative;
}

.error {
    background-color: crimson;
    color: #fff;
    font-size: 0.85rem;
    margin-top: 4px;
    position: absolute;
    bottom: -26px;
    left: 0;
    padding: 4px;
}
input[type="submit"]:disabled {
    background: gray;
    cursor: not-allowed;
}

.lemon-section button, .lemon-section input[type="submit"] {
    background-color: #fff;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    color: #a36d08;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.lemon-section h1, .lemon-section button.secondary, .lemon-section label {
    text-shadow: rgba(70, 47, 6, 0.6) 1px 1px 10px;
}

.lemon-section button.secondary {
    background-color: transparent;
    color: #fff;
}
