body {
  background-color: #7eb1bb;
  color: #fffef5;
}

body, .outfit-regular, p, input, select, textarea, h2, h3, h4, h5, h6, label {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: #fffef5;
  color: #282929;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button, input[type="submit"] {
  background-color: #fff;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #a36d08;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}